# Problems folder - temporary screenshots and debug files
problems/stores/
stores/app stores/cover-english.jpg stores/english stores/pt-br stores/screen1-en.png stores/screen2-en.png stores/screen3-en.png stores/screen4-en.png stores/screen5-en.png stores/screen6-en.png stores/screen7-en.png stores/screen8-en.png
