bin/*
.env
.env.prod
.env.test
unit.out
analytics.test
integration.test
coverage.out
coverage.html
integration.out
coverage-unit.html
coverage-integration.html
gosec-results.json
api*.aab
*.apk
api
cmd/store-assets/screenshots/
